<%- include('./layouts/header_jobseeker') %>
<main class="container mt-5">
  <div class="row justify-content-center">    
    <div class="col-md-8">
      <h1 class="mb-4">All Job Posts</h1>
      <ul class="list-group">
        <% items.forEach(item => { %>
          <li class="list-group-item">
            <a href="/job-post/<%= item.id %>"><%= item.title %> - <%= item.companyName %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</main>
<%- include('./layouts/footer') %>
